/* Global Styles */
body {
    background-color: azure;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Page Layout */
.page-organization {
    display: grid;
    grid-template-columns: 210px auto 300px;
}

/* Navbar (Left) */
.vertical-navbar {
    background-image: linear-gradient(rgb(144, 123, 238), rgb(28, 120, 162), rgb(74, 33, 255));
    display: flex;
    flex-direction: column;
    width: 190px;
    margin: 0;
    padding: 10px;
}

.vertical-navbar-title {
    font-size: 30px;
    color: white;
    text-align: center;
}

.vertical-navbar-button {
    background: none;
    border-radius: 15px;
    font-size: 20px;
    text-align: left;
    border: 1px;
    color: white;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.vertical-navbar-button:hover,
.button-select-currency:hover {
    cursor: pointer;
    border: 1px solid white;
}

/* Navbar (Top-Middle) */
.horizontal-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.horizontal-navbar-button {
    height: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(28, 48, 162);
    font-weight: bold;
    border: none;
    background: none;
}

.horizontal-navbar-button:hover {
    cursor: pointer;
    border-bottom: 1px solid rgb(74, 33, 255);
}

.button-active {
    border-bottom: 1px solid rgb(74, 33, 255);
}

.span-username {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(28, 48, 162);
    font-weight: bold;
}

.div-username {
    margin: 5px;
}

/* Middle Section */
.group-middle-sections {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.group-middle-sections::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and other WebKit browsers */
}

/* Add New Expense & Add New Category */
.div-add-new-expense,
.div-add-new-category {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(74, 33, 255);
    border-radius: 10px;
    padding: 20px;
    width: 480px;
}

.span-insufficient-funds,
.span-category-exists {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.span-budget-text,
.span-budget-value,
.span-add-new-category {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(28, 48, 162);
    font-weight: bold;
}

.currency {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(28, 48, 162);
    font-weight: bold;
}

.form-input-expense,
.form-input-amount,
.form-input-category {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
}

.form-input-amount {
    border: 3px solid rgb(74, 33, 255);
    border-radius: 30px;
    padding: 5px;
    margin: 0;
    width: 125px;
}

.form-input-category {
    border: 3px solid rgb(74, 33, 255);
    border-radius: 30px;
    margin: 0;
    padding: 5px;
    width: 145px;
}

.button-add-new-expense,
.button-add-new-category {
    background-color: rgb(74, 33, 255);
    font-size: 40px;
    border: none;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    align-self: center;
}

.button-add-new-category {
    margin: 20px;
}

.button-add-new-expense:hover,
.button-add-new-category:hover {
    cursor: pointer;
}

/* Statistics (Bottom-Middle) */
.div-group-statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.div-statistics {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-self: center;
    padding: 10px;
    border: 2px solid rgb(74, 33, 255);
    border-radius: 10px;
}

.div-statistics-category-details {
    display: flex;
    justify-content: space-between;
}

.statistics-amount {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 3px;
    color: rgb(28, 48, 162);
}

.statistics-category-name {
    max-width: 250px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    color: rgb(28, 48, 162);
}

.div-statistics-title,
.div-statistics-total {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: rgb(28, 48, 162);
    align-self: center;
    margin: 0;
    width: 400px;
}

.div-statistics-title {
    border-bottom: 2px solid rgb(74, 33, 255);
}

.div-statistics-total {
    margin-top: 10px;
    border-top: 2px solid rgb(74, 33, 255);
}

.progress-box {
    display: block;
    background-color: azure;
    border-radius: 50px;
    border: 1px solid rgb(74, 33, 255);
    width: 400px;
    height: 15px;
}

.progress {
    display: block;
    background-color: rgb(74, 33, 255);
    width: 250px;
    height: 15px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    text-align: center;
}

.div-pie-chart {
    border: 2px solid rgb(74, 33, 255);
    border-radius: 10px;
    margin-left: 10px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.span-no-data-to-show,
.span-title-pie-chart {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(28, 48, 162);
}

/* History of Expenses (Right) */
.div-history {
    border-left: 3px solid rgb(28, 48, 162);
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
}

.span-history-title {
    font-size: 30px;
    color: rgb(28, 48, 162);
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
    border-bottom: 1px solid rgb(28, 48, 162);
}

.div-history-list {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    color: rgb(28, 48, 162);
    margin-left: 5px;
}

.span-history-date {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-self: center;
    font-weight: bold;
    color: rgb(28, 48, 162);
    margin-left: 5px;
}

.history-period {
    text-align: center;
    border-bottom: 1px solid rgb(28, 48, 162);
}

.div-history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    padding-right: 10px;
}

.amount-currency-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.category-span {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    color: rgb(28, 48, 162);
}

/* Add New Category */
.input-category {
    border: 3px solid rgb(74, 33, 255);
    border-radius: 30px;
    padding: 5px;
    margin: 0;
    width: 15vw;
    font-size: 20px;
    text-align: center;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Currency Options */
.div-currency-options {
    display: none;
    background-color: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 10px;
    text-align: center;
}

.button-select-currency {
    background: none;
    border-radius: 15px;
    font-size: 20px;
    text-align: left;
    border: 1px;
    color: white;
    margin-top: 10px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.span-select-currency {
    border-bottom: 0.5px solid white;
}

/* See Expenses */
.div-expenses,
.div-categories {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(74, 33, 255);
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin-bottom: 10px;
}

.span-title-expenses,
.span-title-categories {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(28, 48, 162);
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(28, 48, 162);
}

/* Expense Card */
.expense-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expense-category-see-expenses,
.expense-sum-see-expenses,
.expense-date-see-expenses {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    text-align: center;
    margin-top: 5px;
}

.expense-action-see-expenses {
    flex: 0;
    text-align: center;
}

.expense-action-see-expenses button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.expense-action button:hover {
    background-color: #d32f2f;
}

.expense-header {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* Category Card */
.category-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-name-see-categories {
    text-align: center;
}

.category-action {
    text-align: center;
}

.category-action button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.category-action button:hover {
    background-color: #d32f2f;
}

.category-header {
    background-color: #f0f0f0;
    font-weight: bold;
}