.landing-page-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.landing-page-container .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}