.landing-page-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #2C3E50;
    color: white;
}

.landing-page-navbar .logo h1 {
    font-size: 24px;
    margin: 0;
}

.landing-page-navbar .nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.landing-page-navbar .join-btn,
.landing-page-navbar .login-btn {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.landing-page-navbar .join-btn {
    background-color: #3498DB;
    color: white;
    border: none;
}

.landing-page-navbar .join-btn:hover {
    background-color: #2980B9;
    cursor: pointer;
}

.landing-page-navbar .login-btn {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.landing-page-navbar .login-btn:hover {
    background-color: white;
    color: #2C3E50;
    cursor: pointer;
}

@media screen and (max-width: 420px) {

    .landing-page-navbar .join-btn,
    .landing-page-navbar .login-btn {
        padding: 5px 10px;
    }

    .landing-page-navbar {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 315px) {

    .landing-page-navbar .join-btn,
    .landing-page-navbar .login-btn {
        display: none;
    }

    .landing-page-navbar .nav-buttons {
        display: none;
    }

    .landing-page-navbar {
        width: 100%;
        margin: 0px;
        padding: 5px 10px;
        text-align: center;
        align-self: center;
        justify-content: center;
        align-items: center;
    }
}