body {
    background-image: linear-gradient(rgb(144, 123, 238), rgb(74, 33, 255));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self: center;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
}

.div-container {
    align-self: center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 4em;
    color: white;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    width: 30rem;
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn-register,
.btn-go-back,
.btn-login {
    background-color: rgb(231, 231, 231);
    color: green;
    font-weight: bold;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.div-buttons {
    display: flex;
}

.span-error {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: red;
    align-self: center;
    text-align: center;
}

.password-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.input-password {
    outline: none;
    border: none;
    width: 100%;
}

i {
    position: relative;
    cursor: pointer;
    margin-left: -35px;
}

.label-password,
.label-resend-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    padding: 0px;
}

.label-password p,
.label-resend-code p {
    margin: 0px;
}

.p-forgot-password,
.p-resend-code {
    color: rgb(13, 164, 13);
    text-align: end;
    margin: 0px;
}

.p-forgot-password:hover,
.p-resend-code:hover {
    cursor: pointer;
}

h4 {
    margin: 0px;
    color: grey;
    text-align: center;
}

.progress-bar-container {
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

.progress-bar-div {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    background-color: rgb(216, 208, 208);
    border-radius: 4px;
    border: 0.25px solid black;
}

.progress-bar {
    height: 8px;
    background-color: #4caf50;
    border-radius: 4px;
    transition: width 0.3s ease;
}

.progress-text {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}