.div-authentication-container {
    background-color: #ECF0F1;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.div-authentication-container .title {
    font-size: 3.5rem;
    color: #2C3E50;
    text-align: center;
    margin: 2rem;
}

.div-authentication-container form {
    background-color: #2C3E50;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
    width: 30rem;
    max-width: 90%;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
}

@media (max-width: 624px) {
    .div-authentication-container form {
        width: 80%;
        padding: 15px;
    }

    .div-authentication-container .title {
        font-size: 3rem;
    }


    .div-authentication-container .p-forgot-password {
        font-size: 0.8rem;
    }
}

@media (max-width: 445px) {
    .div-authentication-container form {
        width: 80%;
        padding: 15px;
    }

    .div-authentication-container .title {
        font-size: 2rem;
        margin-top: 1rem;
    }

}

@media (max-width: 321px) {

    .div-authentication-container form {
        width: 80%;
        padding: 15px;
    }

    .div-authentication-container .title {
        font-size: 2rem;
    }

}

.div-authentication-container input[type="text"],
.div-authentication-container input[type="email"],
.div-authentication-container input[type="password"],
.div-authentication-container input[type="date"],
.div-authentication-container input[type="number"] {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.div-authentication-container select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.div-authentication-container button[type="submit"] {
    background-color: #2ECC71;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.div-authentication-container button[type="submit"]:hover {
    opacity: 0.8;
}

.div-authentication-container .btn-register,
.div-authentication-container .btn-go-back,
.div-authentication-container .btn-login,
.div-authentication-container .btn-no-salary {
    background-color: #ECF0F1;
    color: #2ECC71;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.div-authentication-container .btn-register:hover,
.div-authentication-container .btn-go-back:hover,
.div-authentication-container .btn-login:hover,
.div-authentication-container .btn-no-salary:hover {
    opacity: 0.8;
}

.div-authentication-container .div-buttons {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    gap: 1rem;
    margin-top: 10px;
}

.div-authentication-container .span-error {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #E74C3C;
    align-self: center;
    text-align: center;
}

.div-authentication-container .password-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.div-authentication-container input {
    outline: none;
    border: none;
    width: 100%;
}

.div-authentication-container i {
    position: relative;
    cursor: pointer;
    margin-left: -35px;
}

.div-authentication-container .label-password,
.div-authentication-container .label-resend-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    padding: 0px;
}

.div-authentication-container h2 {
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.div-authentication-container label {
    color: #FFFFFF;
}

.div-authentication-container .label-password p,
.div-authentication-container .label-resend-code p {
    margin: 0px;
}

.div-authentication-container .p-forgot-password,
.div-authentication-container .p-resend-code {
    color: #2ECC71;
    text-align: end;
    margin: 0px;
}

.div-authentication-container .p-forgot-password:hover,
.div-authentication-container .p-resend-code:hover {
    cursor: pointer;
}

.div-authentication-container h4 {
    margin: 0px;
    color: #ECF0F1;
    text-align: center;
}

.div-authentication-container .progress-bar-container {
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

.div-authentication-container .progress-bar-div {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    background-color: #ECF0F1;
    border-radius: 4px;
    border: 0.25px solid black;
}

.div-authentication-container .progress-bar {
    height: 8px;
    background-color: #2ECC71;
    border-radius: 4px;
    transition: width 0.3s ease;
}

.div-authentication-container .progress-text {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.div-authentication-container .google-login-button {
    background-color: #ECF0F1;
    color: #2ECC71;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-authentication-container .google-login-button:hover {
    opacity: 0.7;
}

.div-authentication-container .google-icon {
    font-size: 20px;
    margin-right: 10px;
}